In [29]:
#Step2: Data cleaning

In [117]:
##import your database
import pandas as pd
import numpy as np
df = pd.read_csv(r'xxxxxxxx', low_memory=False) #Import your csv data with your

In [119]:
##check data missing piece
print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513865 entries, 0 to 513864
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   unix         513865 non-null  int64
 1   date         513865 non-null  object
 2   symbol       513865 non-null  object
 3   open         513865 non-null  int64
 4   high         513865 non-null  int64
 5   low          513865 non-null  int64
 6   close        513865 non-null  int64
 7   Volume BTC   513865 non-null  float64
 8   Volume USDT  513865 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 35.3+ MB
None
               unix           open           high            low  \
count  5.138650e+05  513865.000000  513865.000000  513865.000000
mean   1.719885e+09   65878.769190   65882.466113   65874.604669
std    9.088723e+06   14601.212215   14602.423597   14599.965944
min    1.704067e+09   38550.000000   38555.000000   38533.000000
25%    1.712063e+09   59050.000000   59052.000000   59045.000000
50%    1.719892e+09   64221.000000   64224.000000   64217.000000
75%    1.727731e+09   69025.000000   69027.000000   69018.000000
max    1.735690e+09  108256.000000  108300.000000  108256.000000

               close     Volume BTC   Volume USDT
count  513865.000000  513865.000000  5.138650e+05
mean    65878.501712       0.023780  1.557041e+03
std     14601.195643       0.252684  1.714892e+04
min     38551.000000       0.000000  0.000000e+00
25%     59049.000000       0.000000  0.000000e+00
50%     64220.000000       0.000000  0.000000e+00
75%     69022.000000       0.001471  9.849090e+01
max    108256.000000      51.515363  3.986617e+06
unix           0
date           0
symbol         0
open           0
high           0
low            0
close          0
Volume BTC     0
Volume USDT    0
dtype: int64

In [121]:
##Data type exchange
df.columns = df.columns.str.strip()
df['date'] = pd.to_datetime(df['date'])
numeric_cols = ['open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT']
df[numeric_cols] = df[numeric_cols].astype(float)

In [123]:
##Repeating Data Examine
print(f"Repeating Line: {df.duplicated().sum()}")
df = df.drop_duplicates()
df = df.reset_index(drop=True)

Repeating Line: 0

In [125]:
##Data Consistency Examine
invalid_high_low = df[df['high'] < df['low']]
if not invalid_high_low.empty:
    print(f"Line {len(invalid_high_low)} high < low")
    df.loc[df['high'] < df['low'], ['high', 'low']] = df.loc[df['high'] < df['low'], ['low', 'high']].values
    
invalid_close = df[(df['close'] < df['low']) | (df['close'] > df['high'])]
if not invalid_close.empty:
    print(f"Line {len(invalid_close)} close is not between high-low range")
    df['close'] = np.where(df['close'] < df['low'], df['low'], 
                          np.where(df['close'] > df['high'], df['high'], df['close']))

In [127]:
##Adding Indicator
df['price_change'] = df['close'] - df['open']
df['price_range'] = df['high'] - df['low']
df['vwap'] = np.where(df['Volume BTC'] > 0, 
            df['Volume USDT'] / df['Volume BTC'], 
            df['close'])

In [ ]:
print("\nCleaned Data Information:")
print(df.info())
print("\nCleaned Data Summary:")
print(df.describe())
df.to_csv('cleaned_crypto_data.csv', index=True)

Cleaned Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513865 entries, 0 to 513864
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   unix          513865 non-null  int64
 1   date          513865 non-null  datetime64[ns]
 2   symbol        513865 non-null  object
 3   open          513865 non-null  float64
 4   high          513865 non-null  float64
 5   low           513865 non-null  float64
 6   close         513865 non-null  float64
 7   Volume BTC    513865 non-null  float64
 8   Volume USDT   513865 non-null  float64
 9   price_change  513865 non-null  float64
 10  price_range   513865 non-null  float64
 11  vwap          513865 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 47.0+ MB
None

Cleaned Data Summary:
               unix                           date           open  \
count  5.138650e+05                         513865  513865.000000
mean   1.719885e+09  2024-07-02 01:50:30.370195200   65878.769190
min    1.704067e+09            2024-01-01 00:00:00   38550.000000
25%    1.712063e+09            2024-04-02 13:05:00   59050.000000
50%    1.719892e+09            2024-07-02 03:51:00   64221.000000
75%    1.727731e+09            2024-09-30 21:24:00   69025.000000
max    1.735690e+09            2024-12-31 23:59:00  108256.000000
std    9.088723e+06                            NaN   14601.212215

                high            low          close     Volume BTC  \
count  513865.000000  513865.000000  513865.000000  513865.000000
mean    65882.466113   65874.604669   65878.501712       0.023780
min     38555.000000   38533.000000   38551.000000       0.000000
25%     59052.000000   59045.000000   59049.000000       0.000000
50%     64224.000000   64217.000000   64220.000000       0.000000
75%     69027.000000   69018.000000   69022.000000       0.001471
max    108300.000000  108256.000000  108256.000000      51.515363
std     14602.423597   14599.965944   14601.195643       0.252684

        Volume USDT   price_change    price_range           vwap
count  5.138650e+05  513865.000000  513865.000000  513865.000000
mean   1.557041e+03      -0.267479       7.861444   65878.501712
min    0.000000e+00   -3820.000000       0.000000   38551.000000
25%    0.000000e+00       0.000000       0.000000   59049.000000
50%    0.000000e+00       0.000000       0.000000   64220.000000
75%    9.849090e+01       0.000000       0.000000   69022.000025
max    3.986617e+06    1470.000000    5536.000000  108256.000000
std    1.714892e+04      28.540393      39.693465   14601.195643